<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QINGLING</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/icon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="static/factoryshow/css/blueimp-gallery.css">
  <link rel="stylesheet" href="static/factoryshow/css/blueimp-gallery-indicator.css">
  <link rel="stylesheet" href="static/factoryshow/css/blueimp-gallery-video.css">
  <link rel="stylesheet" href="static/factoryshow/css/demo.css">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" >
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="#intro" class="scrollto">QL</a></h1> -->
        <!-- <img src="img/logo.png"  alt=""> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#intro"><img src="static/img/logo.png" height="62px" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#news">Update news</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#factory">Factory Show</a></li>
          <li><a href="#portfolio">Products</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('static/img/1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Welcome to QING LING</h2>
                <p>We mainly exports kinds of ac power cord ,salt power cord ,patch
                  cord,VGA cable,USB cable,Networking cable and some industrial
                  customer’s products and so on to all over the world for long term</p>
                <a href="#about" class="btn-get-started scrollto">MORE INFO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">
    <!--==========================
      Update news Section
    ============================-->


    <section id="news">
      <div class="container">
        <header class="section-header">
          <h3>Update News</h3>
          <ul class="" id="news_title">
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <!-- <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li>
            <li class="one_line"><i class="ion-ios-arrow-right"></i> &nbsp;&nbsp;<span class="date">2018-05-04</span><a href="#" class="">Bill Cosby and Roman Polanski have been expelled from the US Academy of Motion Picture Arts and Sciences.</a></li> -->
          </ul>
        </header>
        <div class="pager">
        <ul class="pagination">
          <li id="prev" class="page-item">
            <a class="page-link" href="javascript:;" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li id="p1" class="page-item num"><a class="page-link" href="javascript:;">1</a></li>
          <li id="p2" class="page-item num"><a class="page-link" href="javascript:;">2</a></li>
          <li id="p3" class="page-item num"><a class="page-link" href="javascript:;">3</a></li>
          <li id="p4" class="page-item num"><a class="page-link" href="javascript:;">4</a></li>
          <li id="p5" class="page-item num"><a class="page-link" href="javascript:;">5</a></li>
          <li id="next" class="page-item">
            <a class="page-link" href="javascript:;" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </section>
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>QING LING INDUSTRIAL CO.,LTD,Which is established in 2016,
          HQ is located in Room 1902, Easey Commercial Building, 253-261 Henness Road, Wanchai, HK. We have professional cable and power cord factory in China.
          </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-6 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="static/img/about-mission.jpg" alt="" class="" height="auto" width="100%">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title">Our Mission</h2>
              <p>
               The belief of enterprise is quality policy; to develop innovation and development; pursuit of customer satisfaction and reputation; service to win customers.
              </p>
            </div>
          </div>

          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="static/img/about-plan.jpg" alt="" class="" height="auto" width="100%">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title">Our Services</h2>
              <p>
                we mainly exports kinds of ac power cord ,salt power cord ,VGA cable,Networking cable and some industrial
                customer’s products and so on to all over the world for long term.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->
    <section id="factory"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Factory Show</h3>
          <p>We are a professional cable and power cord manufacture in China,which both have manufacturing shop,scientific process of producing,separated management system in factory,and have advanced machine for doing kinds of testing,the quality of products can be guaranteed seriously.The best quality,the senior technology,the professional producing system,and the best service,which are our belief.welcome to contact us,and visit our factory.</p>
        </header>
        <div id="blueimp-video-carousel" style="width: 80%;height: auto;" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
        </div>

      </div>
    </section><!-- #facts -->
    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Products</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <!-- <div class="categories">
              <div class="container">
                <div class="col-md-2 focus-grid">
                  <a href="categories.html">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-mobile"></i></div>
                        <h4 class="clrchg">Mobiles</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab2">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-laptop"></i></div>
                        <h4 class="clrchg"> Electronics &amp; Appliances</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab3">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-car"></i></div>
                        <h4 class="clrchg">Cars</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab4">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                        <h4 class="clrchg">Bikes</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab5">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                        <h4 class="clrchg">Furnitures</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab6">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-paw"></i></div>
                        <h4 class="clrchg">Pets</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab7">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-book"></i></div>
                        <h4 class="clrchg">Books, Sports &amp; Hobbies</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab8">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                        <h4 class="clrchg">Fashion</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab9">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                        <h4 class="clrchg">Kids</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab10">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-shield"></i></div>
                        <h4 class="clrchg">Services</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab11">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-at"></i></div>
                        <h4 class="clrchg">Jobs</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-2 focus-grid">
                  <a href="categories.html#parentVerticalTab12">
                    <div class="focus-border">
                      <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-home"></i></div>
                        <h4 class="clrchg">Real Estate</h4>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div> -->
            <ul id="portfolio-flters">
              <!-- <li data-filter="*">All</li> -->
              <li data-filter=".filter-ac_power_card" class="filter-active">AC POWER CORD</li>
              <li data-filter=".filter-cable">CABLE</li>
              <li data-filter=".filter-spc">SALT LAMP POWER CORD</li>
              <li data-filter=".filter-ta">TRAVEL ADAPTER</li>
              <li data-filter=".filter-es">ELECTRICAL SWITCH</li>
              <li data-filter=".filter-es">OTHERS</li>
              <!-- <li data-filter=".filter-indus_com">INDUSTRIAL COMPONENTS</li> -->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/America ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">America</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img  src="static/img/product/AC POWER CORD/Australia ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Australia</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/UK ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Isreal/Africa/Uk</a></h4>

                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/Europe ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Europe</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/Brazil ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Brazil</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/Japan ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Japan</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/China ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">China</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/Italy ac power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Italy</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/C5-C14_powercord.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">C5-C14</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ac_power_card wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/AC POWER CORD/C13-C14powercord-1-picture.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">C13-C14</a></h4>
                  <p>ac power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/SFTP CAT7.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">S/FTP CAT7</a></h4>
                  <p>Networking cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/SFTP CAT6.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">S/FTP CAT6</a></h4>
                  <p>Networking cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/UTP CAT6.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">UTP CAT6</a></h4>
                  <p>Networking cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/UTP CAT5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">UTP CAT5</a></h4>
                  <p>Networking cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/Telephone CAT3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Telephone CAT3</a></h4>
                  <p>Networking cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/UTP CAT6 cable.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">UTP CAT6 cable</a></h4>
                  <p>Networking cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/VGA cable.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">VGA</a></h4>
                  <p>Networking cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/usb.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">usb</a></h4>
                  <p>cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/High Temperature Teflon cable wire.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">High Temperature Teflon</a></h4>
                  <p>cable wire</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/CABLE/Outdoor waterproof cat6 cable.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Outdoor waterproof cat6</a></h4>
                  <p>cable</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-spc wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/Europe Salt Lamp power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">EU Salt Lamp power cord</a></h4>
                  <p>Europe Salt Lamp power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-spc wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/UK Salt Lamp power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">UK Salt Lamp power cord</a></h4>
                  <p>UK Salt Lamp power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-spc wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/USA Salt Lamp power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">USA Salt Lamp power cord</a></h4>
                  <p>USA Salt Lamp power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-spc wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/Korea Salt Lamp power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Korea Salt Lamp power cord</a></h4>
                  <p>Korea Salt Lamp power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-spc wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/Australia Salt Lamp power cord.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">AUS Salt Lamp power cord</a></h4>
                  <p>Australia Salt Lamp power cord</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-es wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/Switch.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Switch</a></h4>
                  <p>Switch</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ta wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/QL-101.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">QL-101</a></h4>
                  <p>World Travel Charge Adapter</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ta wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/QL-102.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">QL-102</a></h4>
                  <p>World Travel Charge Adapter</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ta wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/QL-103.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">QL-103</a></h4>
                  <p>World Travel Charge Adapter</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ta wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="static/img/product/INDUSTRIAL COMPONENTS/QL-104.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">QL-104</a></h4>
                  <p>World Travel Charge Adapter</p>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-indus_com wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Hose band clamp</a></h4>
                  <p>Hose band clamp</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-indus_com wow fadeInUp">
            <div class="catalog">
              <div class="portfolio-wrap">
                <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Salt lamp bulb</a></h4>
                  <p>Salt lamp bulb</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cable wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-indus_com wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
          <div class="contact-top">
					<div id="bmap" class="map" >
						<!-- <iframe src="http://maps.google.com.tw/maps?f=q&hl=en-hk&geocode=&q='Unit 1602 Beverley Commercial Centre in HK'&z=17&output=embed&t=p"> </iframe> -->
            <iframe src="http://maps.google.com.hk/maps?f=q&hl=en-hk&geocode=&q=Easey+Commercial+Building,HK&z=17&output=embed&t=p"> </iframe>
					</div>
				</div>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Room 1902, Easey Commercial Building 253-261, Hennessy Road, Wanchai HK</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">000852-28113620</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">sales@qinglingindustrial.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:2" data-msg="Please enter at least 2 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:1" data-msg="Please enter at least 1 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" id="context"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>QingLing</h3>
            <p>QingLing company is established in 2018, mainly exports kinds of ac power cord, salt power cord, VGA cable,Networking cable and some industrial
            customer’s products and so on to all over the world for long term. Our Misson is that quality policy; to develop innovation and development; pursuit of customer
           satisfaction and reputation; service to win customers.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#factory">Factory show</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Products</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#contact">Contact</a></li>
              <!-- <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Room 1902, Easey Commercial Building, 253-261 <br>
              Henness Road, Wanchai<br >
              Hong Kong, HK<br>
              China <br>
              <strong>Phone:</strong> 00852-28113620<br>
              <strong>Email:</strong> sales@qinglingindustrial.com<br>
              <strong>Fax:</strong> 00852-28113621<br>
              <strong>Zip:</strong> 999077<br>
            </p>

            <div class="social-links">
              <a href="https://www.twitter.com/bensenjefeson" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/bensen.jefeson" class="facebook"><i class="fa fa-facebook"></i></a>
              <!-- <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
            </div>

          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>qingling China 2018</strong>.
      </div>
      <!-- <div class="credits">
        '''
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        '''
        Best <a href="">Bootstrap Templates</a> by BootstrapMade
      </div> -->
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>
  <script src="static/factoryshow/js/blueimp-helper.js"></script>
  <script src="static/factoryshow/js/blueimp-gallery.js"></script>
  <script src="static/factoryshow/js/blueimp-gallery-fullscreen.js"></script>
  <script src="static/factoryshow/js/blueimp-gallery-indicator.js"></script>
  <script src="static/factoryshow/js/blueimp-gallery-video.js"></script>
  <script src="static/factoryshow/js/blueimp-gallery-vimeo.js"></script>
  <script src="static/factoryshow/js/blueimp-gallery-youtube.js"></script>
  <script src="static/factoryshow/js/jquery.blueimp-gallery.js"></script>
  <script src="static/factoryshow/js/demo.js"></script>
  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>
  <script src="static/js/script.js"></script>
  <script type="text/javascript">
  // var date = new Date();
  //   var timer = date.getTime().toString();

      // $.getJSON("http://fruitninja.xin:8000/getNewsList?page=1"，function(res){
      //   console.log(res);
      // })

    function go(name,type,cata){
      if(name==""){
        window.location.href='powercord?type='+type+'&cata='+cata;
      }
      else{
        window.location.href='product?type='+type+'&pname='+name+'&cata='+cata;
      }
    }
    $(".portfolio-wrap").click(function(){
      var name = $("a",this).text();
      console.log(name);
      var name_id = {
        "America":{"id":"04","pname":"","cata":"AC POWER CORD"},
        "Australia":{"id":"07","pname":"","cata":"AC POWER CORD"},
        "Isreal/Africa/Uk":{"id":"06","pname":"","cata":"AC POWER CORD"},
        "Europe":{"id":"01","pname":"","cata":"AC POWER CORD"},
        "Brazil":{"id":"03","pname":"","cata":"AC POWER CORD"},
        "Japan":{"id":"05","pname":"","cata":"AC POWER CORD"},
        "China":{"id":"00","pname":"","cata":"AC POWER CORD"},
        "Italy":{"id":"02","pname":"","cata":"AC POWER CORD"},
        "C13-C14":{"id":"08","pname":"","cata":"AC POWER CORD"},
        "C5-C14":{"id":"09","pname":"","cata":"AC POWER CORD"},
      "S/FTP CAT7":{"id":"00","pname":"network_cable","cata":"CABLE"},
      "S/FTP CAT6":{"id":"01","pname":"network_cable","cata":"CABLE"},
      "UTP CAT6":{"id":"02","pname":"network_cable","cata":"CABLE"},
      "UTP CAT5":{"id":"03","pname":"network_cable","cata":"CABLE"},
      "Telephone CAT3":{"id":"04","pname":"network_cable","cata":"CABLE"},
      "UTP CAT6 cable":{"id":"05","pname":"network_cable","cata":"CABLE"},
      "Switch":{"id":"00","pname":"switch","cata":"ELECTRICAL SWITCH"},
      "Outdoor waterproof cat6":{"id":"06","pname":"network_cable","cata":"CABLE"},
      "VGA":{"id":"07","pname":"network_cable","cata":"CABLE"},
      "High Temperature Teflon":{"id":"08","pname":"network_cable","cata":"CABLE"},
      "EU Salt Lamp power cord":{"id":"00","pname":"slpc","cata":"SALT POWER CORD"},
      "USA Salt Lamp power cord":{"id":"01","pname":"slpc","cata":"SALT POWER CORD"},
      "UK Salt Lamp power cord":{"id":"02","pname":"slpc","cata":"SALT POWER CORD"},
      "Korea Salt Lamp power cord":{"id":"04","pname":"slpc","cata":"SALT POWER CORD"},
      "AUS Salt Lamp power cord":{"id":"03","pname":"slpc","cata":"SALT POWER CORD"},
      "QL-101":{"id":"00","pname":"wtca","cata":"TRAVEL ADAPTER"},
      "QL-102":{"id":"01","pname":"wtca","cata":"TRAVEL ADAPTER"},
      "QL-103":{"id":"02","pname":"wtca","cata":"TRAVEL ADAPTER"},
      "QL-104":{"id":"03","pname":"wtca","cata":"TRAVEL ADAPTER"},
       "usb":{"id":"00","pname":"USB cable","cata":"CABLE"},
      "USB-QLC4001":{"id":"00","pname":"USB cable","cata":"CABLE"},
      "USB-QLC4002":{"id":"01","pname":"USB cable","cata":"CABLE"},
      "USB-QLC4003":{"id":"02","pname":"USB cable","cata":"CABLE"},
      "USB-QLC4004":{"id":"03","pname":"USB cable","cata":"CABLE"},
      "USB-QLC4005":{"id":"04","pname":"USB cable","cata":"CABLE"},
      "USB-QLC4006":{"id":"05","pname":"USB cable","cata":"CABLE"},
      "USB-QLC4007":{"id":"06","pname":"USB cable","cata":"CABLE"}};
      // console.log(name);
      console.log(name_id[name]["pname"]);
      go(name_id[name]["pname"],name_id[name]["id"],name_id[name]["cata"]);
    })
  </script>
</body>
</html>
