<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
  <meta charset="utf-8">
  <title>QINGLING</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/icon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap1.min.css" rel="stylesheet">
  <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/style.min.css" rel="stylesheet">
  <link href="static/css/pgwslideshow.css" rel="stylesheet">
  <link href="static/css/pgwslideshow.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/jQuerySwipeslider/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/jQuerySwipeslider/dist/swipeslider.css">
  <style>
    #header{
      position: relative;
      /* left: 0;
      top: 0;
      right: 0;
      transition: all 0.5s;
      z-index: 997;
      background: rgba(0, 0, 0, 0.9);
      padding: 20px 0;
      height: 72px; */
    }
    .breadcrumb>li+li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0";
  }
  .product-info-list1 {
      color: #636363;
      list-style-type: none;
      margin: 0 0 15px;
      padding: 0 0 15px;
      line-height: 20px;
  }
  .product-info-list2 {
      color: #636363;
      list-style-type: none;
      margin: 0 0 15px;
      padding: 0 0 15px;
      line-height: 20px;
  }
  @media (max-width: 768px) {
    .product-desc .image {
    /* float: left; */
    /* width: 50%; */
    padding-right: 40px;
    }
    .product-desc .desc {
      float: left;
    /* width: 50%; */
    /* padding-left: 40px; */
    }
    .pgwSlideshow .ps-current>ul>li img {
      display: block;
      max-width: 100%;
      margin: auto;
      width: 100%;
      height: 300px !important;
    }
}
  </style>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" >
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="#intro" class="scrollto">QL</a></h1> -->
        <!-- <img src="img/logo.png"  alt=""> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#intro"><img src="static/img/logo.png" height="62px" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a href="index">Home</a></li>
          <li><a href="index#news">Update news</a></li>
          <li><a href="index#about">About Us</a></li>
          <li><a href="index#factory">Factory Show</a></li>
          <li><a href="index#portfolio">Products</a></li>
          <li><a href="index#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
      <ul class="breadcrumb m-b-10 f-s-12">
          <li>Home</li>
          <li>Product</li>


      </ul>
      <!-- END breadcrumb -->
      <!-- <ul class="pgwSlideshow">


      </ul> -->
      <!-- BEGIN product -->
      <div class="product">
          <!-- BEGIN product-detail -->

          <!-- END product-detail -->
          <div class="product-tab">
              <!-- BEGIN #product-tab -->
              <ul id="product-tab" class="nav nav-tabs">
                  <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                  <!-- <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews (5)</a></li> -->
              </ul>
              <!-- END #product-tab -->
              <!-- BEGIN #product-tab-content -->
              <div id="product-tab-content" class="tab-content">
                <figure id="full_feature" class="swipslider">
                                        <ul class="sw-slides">

                                      </figure>
                  <div class="tab-pane fade active in" id="product-desc">
                  <!-- BEGIN #product-desc -->
                  <div class="tab-pane fade active in" id="product-desc">
                      <!-- BEGIN product-desc -->
                    <div class="panel-body">

                      </div>
                      <!-- END product-desc -->
                  </div>
                  <!-- END #product-desc -->

              </div>
              <!-- END #product-tab-content -->
          </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>QingLing</h3>
            <p>QingLing company is established in 2018, mainly exports kinds of ac power cord, salt power cord, VGA cable,Networking cable and some industrial
            customer’s products and so on to all over the world for long term. Our Misson is that quality policy; to develop innovation and development; pursuit of customer
           satisfaction and reputation; service to win customers.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="index">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="index#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="index#factory">Factory show</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="index#portfolio">Products</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="index#contact">Contact</a></li>
              <!-- <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Room 1902, Easey Commercial Building, 253-261 <br>
              Henness Road, Wanchai<br >
              Hong Kong, HK<br>
              China <br>
              <strong>Phone:</strong> 00852-28113620<br>
              <strong>Email:</strong> sales@qinglingindustrial.com<br>
              <strong>Fax:</strong> 00852-28113621<br>
              <strong>Zip:</strong> 999077<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>qingling China 2018</strong>.
      </div>
      <!-- <div class="credits">
        '''
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        '''
        Best <a href="">Bootstrap Templates</a> by BootstrapMade
      </div> -->
    </div>
  </footer><!-- #footer -->
   <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <!-- <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
  <!-- <script src="lib/lightbox/js/lightbox.min.js"></script> -->
  <script src="static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>
  <script src="static/js/pgwslideshow.js"></script>
  <script src="static/js/pgwslideshow.min.js"></script>
  <script type="text/javascript" src="static/jQuerySwipeslider/dist/swipeslider.min.js"></script>
  <!-- Template Main Javascript File -->
  <!-- <script src="js/main.js"></script> -->
  <script src="static/js/apps.min.js"></script>
  <script>
      $(document).ready(function() {
          App.init_mother();

          console.log("App is running");
      });
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53034621-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
